# FIMO output using D. virilis

First: 
- collapse to the gene level, compare existence of TF/gene relationships

In [1]:
import pandas as pd
import gffutils
from gffutils import pybedtools_integration
import pybedtools
from pybedtools.featurefuncs import gff2bed

### Import gffs from fimo output and change to bed format:  
5 motif databases: dmmpmm, flyFactor, flyReg, idmmpmm, & onTheFly

In [2]:
#note: score is min(1000, -10*(log10(pvalue)))
#for now I'm not going to worry about trying to get the pvalue since we're just collapsing everything to gene
dmm = pybedtools.BedTool('../motif-wf/data/fimo_dvir_02-15/motif_alignments_dmmpmm2009_dvir.gff')
dmmbed = dmm.each(gff2bed, name_field='ID').saveas().to_dataframe()
dmmbed['name'] = [x.split('-')[0] for x in dmmbed.name]

In [43]:
#add column for motif_FBgn
symbolmap = pd.read_table('/data/LCDB/lcdb-references/dmel/r6-11/gtf/dmel_r6-11.SYMBOL.csv', sep=',') 
dmm_w_motiffbgn = dmmbed.merge(symbolmap, left_on='name', right_on='SYMBOL', how='left')

In [44]:
dmm_w_motiffbgn.head()

            chrom    start      end name  score strand      ENSEMBL SYMBOL
0  scaffold_13049   340807   340815  bcd   48.3      -  FBgn0000166    bcd
1  scaffold_13049   630585   630593  bcd   48.3      -  FBgn0000166    bcd
2  scaffold_13049   666194   666202  bcd   48.3      -  FBgn0000166    bcd
3  scaffold_13049   915737   915745  bcd   48.3      -  FBgn0000166    bcd
4  scaffold_13049  1103900  1103908  bcd   48.3      -  FBgn0000166    bcd

In [80]:
dmm_merge = dmm_w_motiffbgn[['chrom','start','end','ENSEMBL']].rename(columns={'ENSEMBL':'name'})

In [26]:
flyfac = pybedtools.BedTool('../motif-wf/data/fimo_dvir_02-15/motif_alignments_flyFactor_dvir.gff')
ffbed = flyfac.each(gff2bed, name_field='Name').saveas().to_dataframe()
ffbed['name'] = [x.split('_')[0] for x in ffbed.name]

In [30]:
ffbed.head()

            chrom   start     end         name  score strand
0  scaffold_13049   53234   53242  FBgn0000014   45.8      +
1  scaffold_13049  145683  145691  FBgn0000014   45.8      +
2  scaffold_13049  149968  149976  FBgn0000014   45.8      +
3  scaffold_13049  155609  155617  FBgn0000014   45.8      +
4  scaffold_13049  181619  181627  FBgn0000014   45.8      +

In [78]:
ffmerge = ffbed[['chrom','start','end','name']]

In [33]:
flyreg = pybedtools.BedTool('../motif-wf/data/fimo_dvir_02-15/motif_alignments_flyReg_dvir.gff')
frbed = flyreg.each(gff2bed, name_field='Name').saveas().to_dataframe()
frbed['name'] = [x.split('_')[0] for x in frbed.name]

In [45]:
#add column for motif_FBgn
fr_w_motiffbgn = frbed.merge(symbolmap, left_on='name', right_on='SYMBOL', how='left')

In [46]:
fr_w_motiffbgn.head()

            chrom   start     end   name  score strand      ENSEMBL SYMBOL
0  scaffold_13049   53234   53242  abd-A   45.8      +  FBgn0000014  abd-A
1  scaffold_13049  145683  145691  abd-A   45.8      +  FBgn0000014  abd-A
2  scaffold_13049  149968  149976  abd-A   45.8      +  FBgn0000014  abd-A
3  scaffold_13049  155609  155617  abd-A   45.8      +  FBgn0000014  abd-A
4  scaffold_13049  181619  181627  abd-A   45.8      +  FBgn0000014  abd-A

In [82]:
fr_merge = fr_w_motiffbgn[['chrom','start','end','ENSEMBL']].rename(columns={'ENSEMBL':'name'})

In [35]:
idm = pybedtools.BedTool('../motif-wf/data/fimo_dvir_02-15/motif_alignments_idmmpmm2009_dvir.gff')
idmbed = idm.each(gff2bed, name_field='Name').saveas().to_dataframe()
idmbed['name'] = [x.split('_')[0] for x in idmbed.name]

In [47]:
idm_w_motiffbgn = idmbed.merge(symbolmap, left_on='name', right_on='SYMBOL', how='left')

In [48]:
idm_w_motiffbgn.head()

            chrom   start     end   name  score strand      ENSEMBL SYMBOL
0  scaffold_13049   15087   15095  abd-A   45.8      +  FBgn0000014  abd-A
1  scaffold_13049   80992   81000  abd-A   45.8      +  FBgn0000014  abd-A
2  scaffold_13049  209212  209220  abd-A   45.8      +  FBgn0000014  abd-A
3  scaffold_13049  270146  270154  abd-A   45.8      +  FBgn0000014  abd-A
4  scaffold_13049  270292  270300  abd-A   45.8      +  FBgn0000014  abd-A

In [83]:
idm_merge = idm_w_motiffbgn[['chrom','start','end','ENSEMBL']].rename(columns={'ENSEMBL':'name'})

In [ ]:
alt_otf = onthefly.each(gff2bed, name_field='Name').saveas().to_dataframe()
alt_otf['name'] = [x.split('_')[0] for x in otfbed.name]

In [ ]:
alt_otf.head()

In [ ]:
#add column for motif_FBGN
otfmap = pd.read_table('../motif-wf/data/onTheFlyMap.tsv')
y = otfmap[['name', 'FBgn']]
alt_otf_w_fbgn = alt_otf.merge(y, on='name', how='left')

In [ ]:
#apparently this is a mystery OTF... I will see if I have this and if I do can try to elucidate info from gff
update = update[update.name != 'OTF0415.1']

In [41]:
onthefly = pybedtools.BedTool('../motif-wf/data/fimo_dvir_02-15/motif_alignments_onTheFly_dvir.gff')
otfbed = onthefly.each(gff2bed, name_field='Alias').saveas().to_dataframe()

In [42]:
otfbed.head()

            chrom  start    end            name  score strand
0  scaffold_13049   3366   3373  7UP1_DROME_B1H   41.9      -
1  scaffold_13049   4465   4472  7UP1_DROME_B1H   41.9      -
2  scaffold_13049  25387  25394  7UP1_DROME_B1H   41.9      -
3  scaffold_13049  28133  28140  7UP1_DROME_B1H   41.9      -
4  scaffold_13049  69626  69633  7UP1_DROME_B1H   41.9      -

In [55]:
otfbed['name'] = otfbed.name.astype(str, copy=False)

In [56]:
otfbed['name'] = [x.split('_')[0] for x in otfbed.name]

In [57]:
otfbed.head()

            chrom  start    end  name  score strand
0  scaffold_13049   3366   3373  7UP1   41.9      -
1  scaffold_13049   4465   4472  7UP1   41.9      -
2  scaffold_13049  25387  25394  7UP1   41.9      -
3  scaffold_13049  28133  28140  7UP1   41.9      -
4  scaffold_13049  69626  69633  7UP1   41.9      -

In [67]:
lower_case = []  
for x in otfbed.name:
    if x.startswith('FBpp0'):
        lower_case.append(x)
    else:
        lower_case.append(x.lower())

In [71]:
otfbed['lower'] = lower_case

In [73]:
otf_w_motiffbgn = otfbed.merge(symbolmap, left_on='lower', right_on='SYMBOL', how='left')

In [84]:
otf_w_motiffbgn[otf_w_motiffbgn.ENSEMBL.isnull()].lower.unique()

array(['7up1', 'a0jq60', 'a1a6r5', 'a1z858', 'a1z8f4', 'a1za01', 'a1zb05',
       'a1zbv6', 'a2vef7', 'a4ij65', 'a4ij80', 'a4uz51', 'a4v1y6',
       'a4v1y7', 'a4v304', 'a4v334', 'a4vck2', 'a7vjj6', 'a8dy91',
       'a8dys7', 'a8dyz8', 'a8juv3', 'a8juy5', 'a8vem3', 'a8wdw9',
       'a8whe9', 'a8whl0', 'a9ygg0', 'a9yhi4', 'a9yik2', 'a9yik4',
       'a9yik9', 'abda', 'abdb', 'abru', 'adf1', 'aef1', 'antp', 'apte',
       'arnt', 'ast3', 'ast5', 'ast8', 'b3dn74', 'b4yw46', 'b4yxm1',
       'b6idr1', 'b6vqa1', 'b7z003', 'b7z056', 'b7z0c4', 'b7z0k0',
       'b7z0s3', 'b7z0s4', 'b7z0u8', 'b7z0y0', 'nan', 'barh1', 'barh2',
       'brc1', 'brc4', 'c0lrf2', 'c0lrg8', 'c0lrh3', 'c0lrh4', 'c0lrj9',
       'c0lrk7', 'c0lrl8', 'c0lrm0', 'c0lrm1', 'c0mk07', 'c4jc86', 'cebp',
       'cf2', 'clock', 'creba', 'cut', 'cycl', 'da', 'dei', 'dfd', 'dich',
       'disc', 'dll', 'dors', 'dri', 'e74ea', 'e74eb', 'e75ba', 'egon',
       'elf1', 'elg', 'esca', 'esm3', 'esm5', 'esm7', 'esm8', 'esmc',
       'esmd', 'ets4', 'FBpp0070252', 'FBpp0070255', 'FBpp0070256',
       'FBpp0070707', 'FBpp0070708', 'FBpp0072285', 'FBpp0074854',
       'FBpp0074966', 'FBpp0075771', 'FBpp0077189', 'FBpp0078046',
       'FBpp0079883', 'FBpp0080558', 'FBpp0081160', 'FBpp0081165',
       'FBpp0081166', 'FBpp0081167', 'FBpp0081257', 'FBpp0082670',
       'FBpp0082794', 'FBpp0082795', 'FBpp0082796', 'FBpp0082797',
       'FBpp0082828', 'FBpp0083863', 'FBpp0085395', 'FBpp0085446',
       'FBpp0087942', 'FBpp0088300', 'FBpp0088334', 'FBpp0088335',
       'FBpp0088336', 'FBpp0088361', 'FBpp0088378', 'FBpp0088591',
       'FBpp0088657', 'FBpp0089114', 'FBpp0089155', 'FBpp0099631',
       'FBpp0099632', 'FBpp0100052', 'FBpp0110069', 'FBpp0288983',
       'FBpp0289432', 'FBpp0289659', 'FBpp0289731', 'FBpp0289765',
       'FBpp0289766', 'FBpp0289767', 'FBpp0289768', 'FBpp0289778',
       'FBpp0290758', 'FBpp0290883', 'FBpp0290923', 'fd2', 'gaga', 'gfi1',
       'giant', 'glas', 'glis2', 'gsc', 'hair', 'hey', 'hmen', 'hmin',
       'hmpb', 'hmsh', 'hmx', 'hr3', 'hr4', 'hsf', 'hunb', 'jra', 'knir',
       'krup', 'mad', 'max', 'myod', 'nfkb1', 'o01348', 'o01667', 'o18374',
       'o18387', 'o18401', 'o18660', 'o46205', 'o61360', 'o61373',
       'o61458', 'o61640', 'o62609', 'o76259', 'o77069', 'o77278',
       'o96083', 'o96616', 'o96620', 'o96680', 'o96686', 'o96791', 'onec',
       'optix', 'p91626', 'p92031', 'pang1', 'pang2', 'pax6', 'pdm1',
       'pitx1', 'pnt1', 'pok', 'q058w3', 'q0e9c5', 'q0igp9', 'q0igq7',
       'q0igr4', 'q0igt0', 'q0igt4', 'q0igu0', 'q0khx8', 'q24016',
       'q24079', 'q24107', 'q24140', 'q24146', 'q24416', 'q24477',
       'q24605', 'q29r02', 'q29r14', 'q2mgn0', 'q2pdr8', 'q2pdy1',
       'q2pdy2', 'q2pe13', 'q2pe40', 'q2xye6', 'q32kc1', 'q32kd0',
       'q32ke3', 'q3kn35', 'q3ynb0', 'q3ynb8', 'q3ynd8', 'q4h2f7',
       'q4h2f8', 'q4h2f9', 'q4jh20', 'q4v5a4', 'q4v6v1', 'q4v700',
       'q4v708', 'q4v727', 'q4v729', 'q53xf9', 'q56k49', 'q56k83',
       'q59dq1', 'q59dq2', 'q59e67', 'q5bib4', 'q5u114', 'q61676',
       'q61677', 'q6nnv5', 'q6nnz9', 'q7jmt6', 'q7jn06', 'q7jq85',
       'q7jr08', 'q7juz9', 'q7jzd5', 'q7k2v1', 'q7k3x3', 'q7k9g4',
       'q7kah0', 'q7kf43', 'q7kpl1', 'q7kqf8', 'q7krt5', 'q7ks72',
       'q7ks77', 'q7kse4', 'q7ksp5', 'q7ksy5', 'q7ksy6', 'q7ksy7',
       'q7kuk4', 'q7kv66', 'q7yu17', 'q7yu22', 'q7yu39', 'q7yu61',
       'q7yu84', 'q867h6', 'q86b70', 'q86bz1', 'q86bz2', 'q86bz3',
       'q86bz4', 'q86bz5', 'q86nk7', 'q86nl5', 'q86p38', 'q86p58',
       'q86pc0', 'q8ign6', 'q8inp5', 'q8int6', 'q8ip13', 'q8ipa9',
       'q8ir25', 'q8irs3', 'q8irx4', 'q8mql7', 'q8mr37', 'q8mri9',
       'q8mrw5', 'q8myl2', 'q8mz02', 'q8swv1', 'q8sxa4', 'q8sxb8',
       'q8sxk1', 'q8sxr3', 'q8syh5', 'q8sys1', 'q8sz20', 'q8szt5',
       'q8t091', 'q8t0v5', 'q8t3m3', 'q8t9n0', 'q94513', 'q94883',
       'q95rd9', 'q95sx3', 'q95t66', 'q95tf1', 'q95th9', 'q95tw5',
       'q95wv0', 'q960g9', 'q960s0', 'q961v5', 'q963l0', 'q9bpq2',
       'q9gqp6', 'q9gs19', 'q9nhp8', 'q9u010', 'q9u5x2', 'q9u8f7',
       'q9u984', 'q9vab8', 'q9vcy0', 'q9vd99', 'q9vda1', 'q9vda2',
       'q9vdf0', 'q9vdh9', 'q9vdq5', 'q9ve23', 'q9vea3', 'q9veq7',
       'q9vf93', 'q9vfk4', 'q9vfq3', 'q9vh87', 'q9vha4', 'q9vi12',
       'q9vi24', 'q9vi67', 'q9vj00', 'q9vj02', 'q9vj16', 'q9vj37',
       'q9vjc1', 'q9vl05', 'q9vn10', 'q9vpl4', 'q9vq56', 'q9vqv3',
       'q9vrn4', 'q9vs05', 'q9vsc2', 'q9vst2', 'q9vsz3', 'q9vte8',
       'q9vtk6', 'q9vtw3', 'q9vtw5', 'q9vu01', 'q9vwx7', 'q9vx20',
       'q9vyl0', 'q9vzn4', 'q9w064', 'q9w0p9', 'q9w1u7', 'q9w1w2',
       'q9w423', 'q9w4b3', 'q9xtn4', 'q9xzc2', 'q9xzu0', 'q9y0z9',
       'q9y1p6', 'rough', 'runt', 'rx', 'scal', 'scr', 'snai', 'sox14',
       'sox15', 'suhw', 'suh', 'ttka', 'ttkb', 'twist', 'ubx', 'unc4',
       'zen1', 'zest', 'FBpp0081164', 'FBpp0099822', 'q8ws79'], dtype=object)

In [88]:
fix_blanks = otf_w_motiffbgn.copy()

In [ ]:
fix_blanks.loc[fix_blanks.lower == 'abda', 'ENSEMBL'] = 'FBgn0000014'
fix_blanks.loc[fix_blanks.lower == 'abdb', 'ENSEMBL'] = 'FBgn0000015'
fix_blanks.loc[fix_blanks.lower == 'abdb', 'ENSEMBL'] = 'FBgn0000015'

In [ ]:
otf_merge = otf_w_motiffbgn[['chrom','start','end',]]

In [ ]:
#put all together
#drop duplicates
#target gene intersect
#collapse