# Build ChIP Matrices

Goal: 2 binary matrices, 1 for TFs and 1 for histone modifications. 

Need to do: 
- get TF information: 
    - see how well the symbol map works 
- collapse to gene level (if peak overlaps the region count it)
    - need bed of regions I want/which gene they are in

In [1]:
import pandas as pd

In [2]:
tf = pd.read_table('../output/chip/ALL_TF_CHIP_filtered.bed', header=None, names=['chrom','start','end','srx','score','caller'])
hist = pd.read_table('../output/chip/ALL_HIST_CHIP_filtered.bed', header=None,names=['chrom','start','end','srx','score','caller'])

In [3]:
spreadsheet = pd.read_csv('../output/chip/20171103_s2cell_chip-seq.csv')

#For now we are excluding datasets with no input: 
spreadsheet = spreadsheet[spreadsheet.input != 'no input?']
antibody_table = spreadsheet[['srx','target']]

In [4]:
tf2 = tf.merge(antibody_table, on='srx',how='left')
hist2 = hist.merge(antibody_table, on='srx', how='left')

In [5]:
hist2.head()

   chrom  start    end        srx     score caller target
0  chr2L  16617  16893  SRX191913  33.40816  macs2   CTCF
1  chr2L  21242  21484  SRX191913   7.92056  macs2   CTCF
2  chr2L  34118  34304  SRX191913   4.27362  macs2   CTCF
3  chr2L  35499  35830  SRX191913  39.60189  macs2   CTCF
4  chr2L  43248  43463  SRX191913   3.57781  macs2   CTCF

In [6]:
tf2.head()

   chrom   start     end        srx    score caller target
0  chr2L   66743   67064  SRX017462  3.74271  macs2   Orc2
1  chr2L   72379   72633  SRX017462  2.55253  macs2   Orc2
2  chr2L   73097   73294  SRX017462  5.32918  macs2   Orc2
3  chr2L   73334   73505  SRX017462  3.64560  macs2   Orc2
4  chr2L  120707  120958  SRX017462  8.27080  macs2   Orc2

In [8]:
len(tf2.srx.unique())

116

In [12]:
len(tf2.target.unique())

59

In [13]:
len(hist2.srx.unique())

33

In [14]:
len(hist2.target.unique())

8

In [ ]:
#Remember for tommorrow: 
# get the file I used for FIMO ? 
# do an intersect and record overlap ?

In [ ]:
#might be useful for get FBgn
#symbolmap2 = pd.read_table('../../data/fb_synonym.tsv', sep=' ', header=None)
#symbolmap2.columns = ['gene','a','b']
#symbolmap2.head()